<!DOCTYPE html>

<html>
<center>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles/homepage.css">
  </head>
  <body>
    <h1 id="heading">Some appealing title</h1>
    <div class="textbox">
    </div>

    <form action="" method="POST">
      <div id="textbox">
        <input type="text" name="username" placeholder="username">
      </div>
      <div id="textbox">
        <input type="password" name="password" placeholder="password">
      </div>
      <input id="button" type="submit" name="login-button" value="Log In">
    </form>

    <form action="/register" method="GET">
      <button name="register-button" value="Create An Account" class="but1"> Register </button>
    </form>
  </body>
</center>
</html>
