<!DOCTYPE html>

<html>
<center>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles/homepage.css">
  </head>
  <body>
    <div class="split left">
      <div id="body1">
        <h1 id="heading">Carbon Tracker</h1>

        <form method="POST">
          <div id="textbox">
            <input type="text" name="username" placeholder="username">
          </div>
          <div id="textbox">
            <input type="password" name="password" placeholder="password">
          </div>
          <input id="button" type="submit" name="login-button" value="Log In">
        </form>

        <form action="/register" method="GET">
          <button name="register-button" value="Create An Account" class="but1"> Register </button>
        </form>
      </div>
    </div>
    <div class="split right">
      <div id="text">
        <div id="aboutus">About Our Product</div>
        <br>
        <hr style="width:25%">
        <br>
        <div> Our website allows college students to visualize how their transportation choices affect both their health and the environment.
              A user inputs the location of their dorm, classes, meals, and other activities throughout the day, and then our system uses
              Google's API to find distances. It then calculate several metrics, including CO<sub>2</sub> saved, calories burned, and distance
              traveled.</div>
      </div>
    </div>
  </body>
  <footer class="footer left">
    Designed by Howard Qian, Alan Tapper, Akash Karasan, and Albert Wan of Rice University
  </footer>
  <img src="https://www.southwestern.edu/live/image/gid/14/width/1000/31492_Rice_University.rev.1548709245.jpg" class="pic">
</center>
</html>
