<!DOCTYPE html>

<html>
<center>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles/interactivepage.css">
  </head>
  <body>
    <h1>
      Edit Your Schedule
    </h1>

    <form id="locsmodes" method="POST">
      <label for="locationselect">First Location:</label>
      <input type="text" name="loc0" id="loc0" list="locations">

      <p></p>

      <label for="transportmodeselect">Choose a mode of transportation:</label>
      <input type="text" name="mode1" id="mode1" list="modes">

      <p></p>

      <label for="locationselect">Next Location:</label>
      <input type="text" name="loc1" id="loc1" list="locations">

      <p></p>

      <label for="transportmodeselect">Choose a mode of transportation:</label>
      <input type="text" name="mode2" id="mode2" list="modes">

      <p></p>

      <label for="locationselect">Next Location:</label>
      <input type="text" name="loc2" id="loc2" list="locations">

      <p></p>

      <label for="transportmodeselect">Choose a mode of transportation:</label>
      <input type="text" name="mode3" id="mode3" list="modes">

      <p></p>

      <label for="locationselect">Next Location:</label>
      <input type="text" name="loc3" id="loc3" list="locations">

      <p></p>

      <label for="transportmodeselect">Choose a mode of transportation:</label>
      <input type="text" name="mode4" id="mode4" list="modes">

      <p></p>

      <label for="locationselect">Next Location:</label>
      <input type="text" name="loc4" id="loc4" list="locations">


      <input type="submit" form="locsmodes" id="button" name="Submit">
    </form>

    <datalist id="locations">
      <option value="Martel"></option>
      <option value="Brown"></option>
      <option value="Hanszen"></option>
      <option value="Lovett"></option>
      <option value="Wiess"></option>
      <option value="Jones"></option>
      <option value="Duncan"></option>
      <option value="McMurtry"></option>
      <option value="Sid Richardson"></option>
      <option value="Baker"></option>
      <option value="Will Rice"></option>
      <option value="Herzstein Hall"></option>
      <option value="Sewall Hall"></option>
      <option value="Keck Hall"></option>
      <option value="RMC"></option>
      <option value="Fondren"></option>
      <option value="Cambridge Office Building"></option>
      <option value="Brockman Hall"></option>
      <option value="Dell Butcher Hall"></option>
      <option value="Rec center"></option>
      <option value="Shepherd School of Music"></option>
      <option value="Duncan Hall"></option>
      <option value="Ryon Laboratory"></option>
      <option value="Mudd Building"></option>
      <option value="Hamman Hall"></option>
      <option value="MD Anderson Labs"></option>
      <option value="McNair Hall"></option>
      <option value="Herring Hall"></option>
      <option value="Brochstein Pavilion"></option>
      <option value="Humanities Building"></option>
      <option value="Rice Bikes"></option>
      <option value="Kraft Hall"></option>
      <option value="Tudor Fieldhouse"></option>
      <option value="Skyspace"></option>
      <option value="Baker Institute"></option>
      <option value="Jones School of Business"></option>
      <option value="Valhalla"></option>
      <option value="OEDK"></option>
      <option value="Abercrombie"></option>
      <option value="Lovett Hall"></option>
      <option value="Reckling Park"></option>
      <option value="Moody Center for the Arts"></option>
      <option value="Glasscock School"></option>
      <option value="Rice Media Center"></option>
      <option value="Tennis Courts"></option>
      <option value="Rice Stadium"></option>
      <option value="Patterson Center"></option>
      <option value="Rice Bike Track"></option>
      <option value="Rayzor Hall"></option>
      <option value="Anderson Hall"></option>
      <option value="Liu Idea Lab"></option>
      <option value="West Servery"></option>
      <option value="North Servery"></option>
      <option value="Baker Servery"></option>
      <option value="South Servery"></option>
      <option value="Seibel Servery"></option>
      <option value="Sid Richardson Servery"></option>
      <option value="Holloway Field"></option>
      <option value="Founders Court"></option>
      <option value="Greenbriar Lot"></option>
      <option value="West Lot"></option>
      <option value="North Lot"></option>
      <option value="South Lot"></option>
      <option value="Founders Court Lot"></option>
      <option value="Lovett Hall Lot"></option>
      <option value="North Colleges Lot"></option>
      <option value="Hess Lot"></option>
    </datalist>
    <datalist id="modes">
      <option value="Walking"></option>
      <option value="Biking"></option>
      <option value="Driving"></option>
    </datalist>
  </body>
</center>
</html>
