<!DOCTYPE html>

<html>
<center>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/interactivepage.css') }}">
  </head>
  <body>
    <h1>
      Your Stats
    </h1>
    <p>
      Insert stats here
    </p>
    <h1>
      Edit your data
    </h1>
    <label for="transportmodetext">Choose a mode of transportation:</label>
    <select name="transport-modes" id="transport-modes">
      <option value="walk">Walking</option>
      <option value="bikeskate">Biking/Skating</option>
      <option value="car">Driving</option>
    </select>
  </body>
</center>
</html>