
#heading {
    font-size: 60px;
}

#textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #000000;
}
#textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
    margin: 0 10px;
}

#button {
    width: 100%;
    padding: 8px;
    color: #ffffff;
    background: #107403;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

#body1{
  width: 280px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0d3807;
  font-family: sans-serif;
}

.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.right {
  right:0;
  background-color: #107403;
  z-index: 0;
  padding-top: 120px;
}

#aboutus {
  font-size: 40px;
}

br {
    line-height: 40%;
}

#text{
  line-height:40px;
  position:absolute;
  width:80%;
  right:10%;
  top: 20%;
  color:white;
  z-index: 1;
  font-family: georgia;
}

.but1{
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  font-family: sans-serif;
}

.footer{
  position: fixed;
  justify-content: center;
  bottom: 5px;
  left: 50px;
}

.pic{
  position: absolute;
  justify-content: left;
  width: 60px;
  height: 60px;
  left: 10px;
  top: 10px;
}