
#textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #107403;
}
#textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
    margin: 0 10px;
}

#button {
    width: 75%;
    padding: 8px;
    color: #ffffff;
    background: none #107403;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

body {
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: #107403;
    font-family: sans-serif;
}

.but1{
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  font-family: sans-serif;
}

.pic{
    position: fixed;
    justify-content: left;
    width: 60px;
    height: 60px;
    left: -500px;
    top: -30px;
  }